<div class="container xyz">
<div class="icesheet2">
    <div class="shadow2"></div>
    <div class="edge2"></div>
  </div>
  <div class="container">
    <div class="water"></div>
    <div class="icesheet">
      <div class="shadow"></div>
      <div class="edge"></div>
    </div>
  
    <div class="bear">
      <div class="leg1 posit3">
        <div class="paw2"></div>
      </div>
      <div class="leg1 posit4">
        <div class="paw2"></div>
      </div>
      <div class="head">
        <div class="ears posi1"></div>
        <div class="ears posi2"></div>
        <div class="jaw">
          <div class="eyes pos1"></div>
          <div class="eyes pos2"></div>
          <div class="nose"></div>
        </div>
      </div>
      <div class="bearbody">
        <div>
        <div class="leg posit1">
          <div class="paw1"></div>
        </div>
        <div class="leg posit2">
          <div class="paw1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>