/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';


* {
    /* font-family: 'Ubuntu', sans-serif;*/
    font-family: 'Ubuntu', sans-serif; 
    /* overflow-y: hidden; */
    overflow-x: hidden;
}

.greyText {
    color: gray;
}


/* div.mat-form-field-wrapper.ng-tns-c100-0{
       padding: 0px;
} */
/* ::-webkit-scrollbar {
    width: 10px;
  } */
  
  /* Track */
  /* ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  } */
   
  /* Handle */
  /* ::-webkit-scrollbar-thumb {
    background: #888; 
  } */
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } */

  /* ::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar
  {
      width: 12px;
      background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #555; 
  }*/

    /* ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }
    
    ::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }
    
    ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#30cfd0), to(#330867));
    background-image: -webkit-linear-gradient(bottom, #30cfd0 0%, #330867 100%);
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); } */


    ::-webkit-scrollbar, body::-webkit-scrollbar, mat-sidenav.sidenav::-webkit-scrollbar {
        height: 6px;
        width: 6px;
    }


    ::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb, mat-sidenav.sidenav::-webkit-scrollbar-thumb {
        background-color: #6e6e6e;
        outline: 1px solid #444;
    }

    .mat-sidenav-content::-webkit-scrollbar-track, body::-webkit-scrollbar-track, mat-sidenav.sidenav::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.mat-tab-label{
    color: black !important;
}

/* body{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
} */

